/*margin mixin*/
$horiz-margin: 10px;
$horiz-margin-div: 15px;

body {
    margin-left: $horiz-margin;
    margin-right: $horiz-margin;
}
div{
    margin-left: $horiz-margin-div;
    margin-right: $horiz-margin-div;
}
